.price {
	padding: 75px 0;
	min-height: 990px;
	&__carts {
		display: flex;
		flex-wrap: wrap;
		row-gap: 48px;
		column-gap: 26px;
	}
	&__text {
		margin-top: 10px;
		text-align: center;
	}
	&__title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		color: #5F4D5D;
	}
	&__amount {
		font-family: 'Roboto';
		margin-top: 7px;
		font-size: 16px;
		line-height: 18px;
		color: #B0B0B0;
	}
}