.promo {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 820px;
	background: linear-gradient(180deg, #C9ADC6 56%, #D6BBD3 44%);
	padding: 72px 20px 70px 178px;
	&__bg {
		max-width: 850px;
		height: 675px;
		background: url('../../img/promo-bg.jpg') center / cover no-repeat;
	}
	&__descr {
		position: absolute;
		top: 182px;
		right: 112px;
		padding: 124px 0px 0px 40px;
		max-width: 425px;
		height: 450px;
		background: #B08EAD;

		color: #fff;
	}
	&__descr_new {
		font-family: 'Roboto', sans-serif;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
	&__descr_title {
		margin-bottom: 30px;
		font-size: 45px;
		line-height: 55px;
	}
	&__descr_buy {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 1.5px;
		text-transform: uppercase;

		a {
			color: #fff;
			border-bottom: 2px solid #fff;
			padding-bottom: 12px;

			background-image: linear-gradient(currentColor, currentColor);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 0% 2px;
			padding-bottom: 12px;
			transition: all .3s ease-in-out;
		}
		a:hover {
			color: #994d94;
			background-size: 100% 2px;
			border-bottom: none;
		}
	}
	&__squares_one {
		position: absolute;
		bottom: 0;
		right: 162px;
		width: 50px;
		height: 50px;
		background: #A78BA4;
	}
	&__squares_two {
		position: absolute;
		bottom: 0;
		right: 112px;
		width: 50px;
		height: 50px;
		background: #B08EAD;
	}
}