@media (max-width: 1215px) {
	.contacts {
		&__row {
			justify-content: center;
			column-gap: 20px;
			padding-left: 20px;
		}
	}
}

@media (max-width: 992px) {
	.contacts {
		&__row {
			flex-wrap: wrap;
		}
		&__text {
			padding-top: 20px;
		}
		&__form {
			padding-top: 20px;
		}
	}
}