@media (max-width: 1200px) {
	.designer {
    padding: 30px 0 30px;
    .carts {
      gap: 15px;
      flex-wrap: wrap;
      &__item {
        
      }
      &__text {
        padding: 15px;
      }
      &__title {
        text-align: center;
        font-size: 20px;
      }
      &__link {
        text-align: center;
      }
    }
  }
}