// Container
.container {
	max-width: ($containerWidth) + px;
	width: 90%;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

// Body Locked
body {
	&.locked {
		overflow: hidden;
	}

	// Убираем обводку, добавляем цвет введённого в поле текста
	:active, :hover, :focus {
		outline: 0;
		outline-offset: 0;
	}

	// Цвет placeholder
	::-webkit-input-placeholder {color:#fff;}
	::-moz-placeholder          {color:#fff;}
	:-moz-placeholder           {color:#fff;}
	::-ms-input-placeholder     {color:#fff;}
	:-ms-input-placeholder      {color:#fff;}

	// overflow-x: hidden;

	font-family: $fontMain;
}

// Animations
// Fade
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
